<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="saveFont" value="0"/>
    <add key="saveFontSize" value="0"/>
    <add key="font" value="Arial"/>
    <add key="fontSize" value="12"/>

    <add key="saveLastFile" value="0"/>
    <add key="lastTextFile" value=""/>
  </appSettings>
</configuration>